# Project 4 - Wrangle and Analyse Data

TODO: add description about the project

In [1]:
import pandas as pd
import requests
import tweepy
import json

## Gather

Frist, let's read the file that was given.

### Read File with Twitter Information

In [2]:
twitter_archive_enhanced = pd.read_csv('twitter-archive-enhanced.csv')
twitter_archive_enhanced.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

### Download Image Preditions File

In [3]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

with open('image_predictions.tsv', 'w') as file:
    file.write(response.text)

In [4]:
image_predictions = pd.read_csv('image_predictions.tsv', sep='\t')
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

### Download Additional Twitter Data from API

In [5]:
# Remove this keys before submiting
consumer_key = ''
consumer_secret = ''

auth = tweepy.AppAuthHandler(consumer_key, consumer_secret)

# Configures the library to wait when a rate limit error occurs
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [6]:
with open('tweet_json.txt', 'w') as file:
    for tweet_id in twitter_archive_enhanced.tweet_id:
        try:
            result = api.get_status(tweet_id, tweet_mode='extended')
            file.write(json.dumps(result._json) + '\n')
        except Exception as e:
            print(f'Error while getting json data from tweet {tweet_id} with error: {e}')

Error while getting json data from tweet 888202515573088257 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 873697596434513921 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 872668790621863937 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 872261713294495745 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 869988702071779329 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 866816280283807744 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 861769973181624320 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 856602993587888130 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 851953902622658560 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 845459076796616705 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 844704788403113984 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 842892208864923648 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 837366284874571778 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 837012587749474308 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 829374341691346946 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 827228250799742977 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 812747805718642688 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 802247111496568832 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 779123168116150273 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 775096608509886464 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 771004394259247104 with error: [{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]
Error while getting json data from tweet 770743923962707968 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 759566828574212096 with error: [{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 105

Error while getting json data from tweet 754011816964026368 with error: [{'code': 144, 'message': 'No status found with that ID.'}]
Error while getting json data from tweet 680055455951884288 with error: [{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 216

In [7]:
statuses = []
with open('tweet_json.txt', 'r') as file:
    for line in file:
        statuses.append(json.loads(line))

In [8]:
tweet_json = pd.json_normalize(statuses)
tweet_json.head()

,created_at,id,id_str,full_text,truncated,display_text_range,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,place.id,place.url,place.place_type,place.name,place.full_name,place.country_code,place.country,place.contained_within,place.bounding_box.type,place.bounding_box.coordinates
0,Tue Aug 01 16:23:56 +0000 2017,892420643555336193,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","<a href=""http://twitter.com/download/iphone"" r...",NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tue Aug 01 00:17:27 +0000 2017,892177421306343426,892177421306343426,This is Tilly. She's just checking pup on you....,False,"[0, 138]","<a href=""http://twitter.com/download/iphone"" r...",NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mon Jul 31 00:18:03 +0000 2017,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","<a href=""http://twitter.com/download/iphone"" r...",NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sun Jul 30 15:58:51 +0000 2017,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","<a href=""http://twitter.com/download/iphone"" r...",NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sat Jul 29 16:00:24 +0000 2017,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","<a href=""http://twitter.com/download/iphone"" r...",NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN